* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'DM Sans';
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.GoogleButton {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 10px 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 3px;

    
}
.GoogleIcon {
    height: 15px;
    width: 15px;
    object-fit: contain;
}

.GoogleButton p {
    font-size: 0.85rem;
}
